*                 { font-family: 'Source Sans Pro', sans-serif; }
body              { overflow-y: scroll; margin: 0; font-size: 16px; min-width: 900px; }
a.link            { text-decoration: none; color: #051047; }
a:hover           { text-decoration: underline; }
.text             { border: 1px solid #C6C6C6; padding: 2px; font-size: 16px; }
.button           { height: 28px; width: 75px; font-size: 16px; }
#logo             { position: absolute; left: 5px; top: 5px; height: 52px; width: 52px; border: 0; }
#formTable        { margin: 0 auto; border-spacing: 0; padding: 0; }
#formHeader td    { font-size: 12px; color: gray; padding: 0px; padding-left: 4px; }
#category         { border: 1px solid #C6C6C6; padding: 1px; font-size: 16px; }
#formContainer    { background: #EEEEEE; border-bottom: 1px solid gray; padding: 5px; height: 46px; }
#intro            { padding-top: 30px; width: 750px; margin: 0 auto; line-height: 150%;}
#intro ul         { padding-top: 5px; }
#intro ul li      { padding-bottom: 5px; font-size: 16px; }
#intro a          { color: #0000AA; }
#intro, #intro *  { font-size: 16px; }
#stats            { color: #AAAAAA; }
.body             { padding-right: 5px; padding-bottom: 5px; font-size: 14px; width: 495px; max-width: 495px; overflow: hidden; 
                    text-overflow: ellipsis; white-space: nowrap; }
.author           { padding-right: 5px; padding-bottom: 5px; font-size: 14px; width: 100px; max-width: 100px; overflow: hidden; 
                    text-overflow: ellipsis; white-space: nowrap; }
.date             { padding-bottom: 5px; text-align: right; font-size: 14px; width: 100px; max-width: 100px; overflow: hidden; 
                    text-overflow: ellipsis; white-space: nowrap; }
.postcount        { padding-bottom: 5px; text-align: right; font-size: 14px; width: 75px; max-width: 100px; overflow: hidden; 
                    white-space: nowrap; }
.top_link         { text-decoration: none; color: #59325E; }

.jt_red           { color: #f00; }
.jt_green         { color: #8dc63f; }
.jt_pink          { color: #f4569a; }
.jt_olive         { color: olive; }
.jt_fuchsia       { color: #c0ffc0; }
.jt_yellow        { color: #c3a900; }
.jt_blue          { color: #44aedf; }
.jt_lime          { color: #90bf90; }
.jt_orange        { color: #f7941c; }
.jt_italic        { font-style: italic; }
.jt_bold          { font-weight: bold; }
.jt_underline     { text-decoration: underline; }
.jt_strike        { text-decoration: line-through; }
.jt_sample        { font-size: 80%; }
.jt_quote         { font-family: 'Times New Roman'; font-size: 110%; }
.jt_spoiler       { color: #383838; background-color: #383838; }
.jt_spoiler_show  { color: #f00; }
.jt_codesmall     { font-family: monospace; }
.jt_code          { font-family: monospace; }
.jt_wtf242        { color: #808080; }

.resultLink       { color: black; text-decoration: none; }

.cat_ontopic      { }
.cat_nws          { float: left; margin-top: 7px; margin-right: 5px; height: 5px; width: 5px; background: #f00; }
.cat_stupid       { float: left; margin-top: 7px; margin-right: 5px; height: 5px; width: 5px; background: #8dc63f; }
.cat_political    { float: left; margin-top: 7px; margin-right: 5px; height: 5px; width: 5px; background: #c3a900; }
.cat_tangent      { float: left; margin-top: 7px; margin-right: 5px; height: 5px; width: 5px; background: #90bf90; }
.cat_informative  { float: left; margin-top: 7px; margin-right: 5px; height: 5px; width: 5px; background: #44aedf; }

#results          { margin: 0 30px; max-width: 1200px; } 
#results > table  { width: 100%; }

@media (max-width: 1075px) {
    div#top_links { display: none; }
}
